/* Button from form */
.box-footer {
    margin-top: 30px;
    text-align: center;
}

.btn {
    margin-left: 5px;
}

td {   
    padding-bottom: 5px;
}

.td-email {
    width: 90%;
}
.td-email-action {
    text-align: center;
}
.td-email-header {
    text-align: center;
}


.table-action {
    width: 150px;
    padding-left: 10px;    
    text-align: left;
}
