td { padding-bottom: 5px; }
th { padding-bottom: 5px; padding-top: 25px; }

html, body {
    height: 100%;
}

.box-footer {
    margin-top: 30px;
    text-align: center;
}

.btn {
    margin-left: 5px;
}

.td-email {
    width: 90%;
}

.td-email-action {
    text-align: center;
}

.td-email-header {
    text-align: center;
}

.table-action {
    width: 150px;
    padding-left: 10px;    
}

.content {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}